.movie-select-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.movie-select__poster > img {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: var(--movie-border-radius);
}

.movie--loading {
  animation: 1s movie-loading infinite alternate;
}

.movie-billboard__button-wrapper {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

/* Modal Content */
.movie-modal__info-wrapper {
  display: flex;
  gap: 15px;
  font-weight: bold;
}

.movie-modal__match {
  color: #4caf50;
}

.movie-modal__wrapper {
  display: flex;
  gap: 15px;
}

.movie-modal__outside {
  padding: 20px;
}

.movie-modal {
  border-radius: inherit;
}

.movie-modal__padding {
  padding: 10px 0;
}

.movie-modal > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.movie-modal__wrapper {
  font-size: 0.8rem;
}

.movie-modal__on-image {
  position: absolute;
  transform: translateY(-150%);
}

.movie-modal__light {
  font-weight: 300;
  color: #aaa;
}

@keyframes movie-loading {
  0% {
    background-color: #555;
  }
  100% {
    background-color: #333;
  }
}
