.create-user-page {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-user__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 29px;
}

.create-user-page form > * {
  font-size: 1.3rem;
  width: min(30vw, 300px);
}

.create-user__none {
  display: none !important;
}

.create-user__prev {
  /* animation: slide-prev 0.5s forwards; */
  display: none;
}

.create-user__next {
  animation: slide-next 0.5s forwards;
}

@keyframes slide-next {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  99% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-prev {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  99% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 0;
    transform: translateX(-100vw);
  }
}

.shake-effect {
  outline: 1px solid red;
  animation: shake 1s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* The Current SVGs I'm using are circular so this is just to make it match that for where to hover */
.create-user-page button {
  border-radius: 50%;
}
