:root {
  --bg: #111;
  --text: #fff;

  --navbar-item-height: 40px;
  --outside-padding: 40px;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;

  background-color: var(--bg);
  color: var(--text);

  overflow-x: hidden;
}

.btn-unstyled {
  background: transparent;
  border: none;
  color: var(--text);
  cursor: pointer;
  transition: 0.2s;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}
